@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="container">
        <div class="col-md-12 text-center contenido">
            <h1 class="black">LABORATORIO NO. 5 ARBOL 2-3</h1>
        </div>
    </div>
</div>
